
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 25, 25);
    margin:0px;
}
img {
    display:flex;
    width: 12%;
    margin-left:auto;
    margin-right:auto;
    position:relative; top:200px;
    text-align: center;
}
.search {
    border-radius:25px;
    box-shadow: none;
    display:flex;
    border: 1px solid #dfe1e5;
    margin:0 auto;
    height: 44px;
    width: 584px;
    max-width:auto;
    position:relative; top: 400px;
}
.search:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color:rgba(233,225,229,0);
}
.topbar a{
    display:inline-flexbox;
    padding:8px;
    margin:0 5px;
    color:#222;
    margin-top:25px;
    
}
.move{
    float:right;
}
.topbar a:hover{
    text-decoration:underline;
}
.topbar a:active{
    text-decoration:underline
}

.topbar a{
    text-decoration:none;
    color:#222
}

